In [1]:
import numpy as np
import pandas as pd

In [7]:
df_meters = pd.read_excel('data/building_data_meters.xlsx')

In [8]:
df_data = pd.read_excel('data/building_data.xlsx')

In [10]:
df_meters.head()

,time,_electricityMeter_1_e_T30M_mv_val,_electricityMeter_1_e_T30M_mv_qual,_electricityMeter_1_e_TM3M_mv_val,_electricityMeter_1_e_TM3M_mv_qual,_electricityMeter_1_p_T30M_mv_val,_electricityMeter_1_p_T30M_mv_qual,_electricityMeter_1_p_TM3M_mv_val,_electricityMeter_1_p_TM3M_mv_qual,_electricityMeter_1_q_T30M_mv_val,...,_electricityMeter_4_e_TM3M_mv_val,_electricityMeter_4_e_TM3M_mv_qual,_electricityMeter_4_p_T30M_mv_val,_electricityMeter_4_p_T30M_mv_qual,_electricityMeter_4_p_TM3M_mv_val,_electricityMeter_4_p_TM3M_mv_qual,_electricityMeter_4_q_T30M_mv_val,_electricityMeter_4_q_T30M_mv_qual,_electricityMeter_4_q_TM3M_mv_val,_electricityMeter_4_q_TM3M_mv_qual
0,2018-04-15 07:00:00,19.712,GOOD PROCESS,NaN,NaN,39.424,GOOD PROCESS,NaN,NaN,12.576,...,NaN,NaN,44.184,GOOD PROCESS,NaN,NaN,2.784,GOOD PROCESS,NaN,NaN
1,2018-04-15 07:39:00,NaN,NaN,1.856,GOOD PROCESS,NaN,NaN,37.12,GOOD PROCESS,NaN,...,2.412,GOOD PROCESS,NaN,NaN,48.24,GOOD PROCESS,NaN,NaN,2.64,GOOD PROCESS
2,2018-07-10 16:30:00,32.816,GOOD PROCESS,NaN,NaN,26.208,GOOD PROCESS,NaN,NaN,2.496,...,NaN,NaN,28.632,GOOD PROCESS,NaN,NaN,2.976,GOOD PROCESS,NaN,NaN
3,2018-07-10 17:00:00,44.320,GOOD PROCESS,NaN,NaN,23.008,GOOD PROCESS,NaN,NaN,2.240,...,NaN,NaN,27.264,GOOD PROCESS,NaN,NaN,3.192,GOOD PROCESS,NaN,NaN
4,2018-07-10 17:30:00,54.656,GOOD PROCESS,NaN,NaN,20.672,GOOD PROCESS,NaN,NaN,1.984,...,NaN,NaN,26.400,GOOD PROCESS,NaN,NaN,3.048,GOOD PROCESS,NaN,NaN

In [11]:
df_meters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317513 entries, 0 to 317512
Data columns (total 49 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   time                                317513 non-null  datetime64[ns]
 1   _electricityMeter_1_e_T30M_mv_val   40087 non-null   float64
 2   _electricityMeter_1_e_T30M_mv_qual  40087 non-null   object
 3   _electricityMeter_1_e_TM3M_mv_val   308248 non-null  float64
 4   _electricityMeter_1_e_TM3M_mv_qual  308248 non-null  object
 5   _electricityMeter_1_p_T30M_mv_val   40087 non-null   float64
 6   _electricityMeter_1_p_T30M_mv_qual  40087 non-null   object
 7   _electricityMeter_1_p_TM3M_mv_val   308248 non-null  float64
 8   _electricityMeter_1_p_TM3M_mv_qual  308248 non-null  object
 9   _electricityMeter_1_q_T30M_mv_val   40087 non-null   float64
 10  _electricityMeter_1_q_T30M_mv_qual  40087 non-null   object
 11  _electricityMeter_1_q_TM3M_mv_val   308227 non-null  float64
 12  _electricityMeter_1_q_TM3M_mv_qual  308227 non-null  object
 13  _electricityMeter_2_e_T30M_mv_val   40087 non-null   float64
 14  _electricityMeter_2_e_T30M_mv_qual  40087 non-null   object
 15  _electricityMeter_2_e_TM3M_mv_val   308251 non-null  float64
 16  _electricityMeter_2_e_TM3M_mv_qual  308251 non-null  object
 17  _electricityMeter_2_p_T30M_mv_val   40087 non-null   float64
 18  _electricityMeter_2_p_T30M_mv_qual  40087 non-null   object
 19  _electricityMeter_2_p_TM3M_mv_val   308236 non-null  float64
 20  _electricityMeter_2_p_TM3M_mv_qual  308236 non-null  object
 21  _electricityMeter_2_q_T30M_mv_val   40087 non-null   float64
 22  _electricityMeter_2_q_T30M_mv_qual  40087 non-null   object
 23  _electricityMeter_2_q_TM3M_mv_val   308235 non-null  float64
 24  _electricityMeter_2_q_TM3M_mv_qual  308235 non-null  object
 25  _electricityMeter_3_e_T30M_mv_val   40087 non-null   float64
 26  _electricityMeter_3_e_T30M_mv_qual  40087 non-null   object
 27  _electricityMeter_3_e_TM3M_mv_val   308252 non-null  float64
 28  _electricityMeter_3_e_TM3M_mv_qual  308252 non-null  object
 29  _electricityMeter_3_p_T30M_mv_val   40087 non-null   float64
 30  _electricityMeter_3_p_T30M_mv_qual  40087 non-null   object
 31  _electricityMeter_3_p_TM3M_mv_val   308252 non-null  float64
 32  _electricityMeter_3_p_TM3M_mv_qual  308252 non-null  object
 33  _electricityMeter_3_q_T30M_mv_val   40087 non-null   float64
 34  _electricityMeter_3_q_T30M_mv_qual  40087 non-null   object
 35  _electricityMeter_3_q_TM3M_mv_val   308253 non-null  float64
 36  _electricityMeter_3_q_TM3M_mv_qual  308253 non-null  object
 37  _electricityMeter_4_e_T30M_mv_val   40087 non-null   float64
 38  _electricityMeter_4_e_T30M_mv_qual  40087 non-null   object
 39  _electricityMeter_4_e_TM3M_mv_val   308253 non-null  float64
 40  _electricityMeter_4_e_TM3M_mv_qual  308253 non-null  object
 41  _electricityMeter_4_p_T30M_mv_val   40087 non-null   float64
 42  _electricityMeter_4_p_T30M_mv_qual  40087 non-null   object
 43  _electricityMeter_4_p_TM3M_mv_val   308173 non-null  float64
 44  _electricityMeter_4_p_TM3M_mv_qual  308173 non-null  object
 45  _electricityMeter_4_q_T30M_mv_val   40087 non-null   float64
 46  _electricityMeter_4_q_T30M_mv_qual  40087 non-null   object
 47  _electricityMeter_4_q_TM3M_mv_val   308150 non-null  float64
 48  _electricityMeter_4_q_TM3M_mv_qual  308150 non-null  object
dtypes: datetime64[ns](1), float64(24), object(24)
memory usage: 118.7+ MB

In [38]:
import calendar
import time
from datetime import datetime, timezone,timedelta
import pytz

In [41]:
moscow_tz = pytz.timezone('Europe/Moscow')

In [42]:
def utc_to_local(utc_dt):
    return utc_dt.replace(tzinfo=timezone.utc).astimezone(tz=moscow_tz)

In [49]:
df_meters['time'] = df_meters['time'].apply(utc_to_local)

In [50]:
df_meters['time'].head()

0   2018-04-15 10:00:00+03:00
1   2018-04-15 10:39:00+03:00
2   2018-07-10 19:30:00+03:00
3   2018-07-10 20:00:00+03:00
4   2018-07-10 20:30:00+03:00
Name: time, dtype: datetime64[ns, Europe/Moscow]

In [55]:
mask = (df_meters['time'].dt.hour >= 7) & (df_meters['time'].dt.hour <= 22)

In [56]:
df_met_mask = df_meters[mask]

In [57]:
df_met_mask.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 211849 entries, 0 to 317512
Data columns (total 49 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   time                                211849 non-null  datetime64[ns, Europe/Moscow]
 1   _electricityMeter_1_e_T30M_mv_val   26727 non-null   float64
 2   _electricityMeter_1_e_T30M_mv_qual  26727 non-null   object
 3   _electricityMeter_1_e_TM3M_mv_val   205688 non-null  float64
 4   _electricityMeter_1_e_TM3M_mv_qual  205688 non-null  object
 5   _electricityMeter_1_p_T30M_mv_val   26727 non-null   float64
 6   _electricityMeter_1_p_T30M_mv_qual  26727 non-null   object
 7   _electricityMeter_1_p_TM3M_mv_val   205688 non-null  float64
 8   _electricityMeter_1_p_TM3M_mv_qual  205688 non-null  object
 9   _electricityMeter_1_q_T30M_mv_val   26727 non-null   float64
 10  _electricityMeter_1_q_T30M_mv_qual  26727 non-null   object
 11  _electricityMeter_1_q_TM3M_mv_val   205667 non-null  float64
 12  _electricityMeter_1_q_TM3M_mv_qual  205667 non-null  object
 13  _electricityMeter_2_e_T30M_mv_val   26727 non-null   float64
 14  _electricityMeter_2_e_T30M_mv_qual  26727 non-null   object
 15  _electricityMeter_2_e_TM3M_mv_val   205691 non-null  float64
 16  _electricityMeter_2_e_TM3M_mv_qual  205691 non-null  object
 17  _electricityMeter_2_p_T30M_mv_val   26727 non-null   float64
 18  _electricityMeter_2_p_T30M_mv_qual  26727 non-null   object
 19  _electricityMeter_2_p_TM3M_mv_val   205676 non-null  float64
 20  _electricityMeter_2_p_TM3M_mv_qual  205676 non-null  object
 21  _electricityMeter_2_q_T30M_mv_val   26727 non-null   float64
 22  _electricityMeter_2_q_T30M_mv_qual  26727 non-null   object
 23  _electricityMeter_2_q_TM3M_mv_val   205675 non-null  float64
 24  _electricityMeter_2_q_TM3M_mv_qual  205675 non-null  object
 25  _electricityMeter_3_e_T30M_mv_val   26727 non-null   float64
 26  _electricityMeter_3_e_T30M_mv_qual  26727 non-null   object
 27  _electricityMeter_3_e_TM3M_mv_val   205692 non-null  float64
 28  _electricityMeter_3_e_TM3M_mv_qual  205692 non-null  object
 29  _electricityMeter_3_p_T30M_mv_val   26727 non-null   float64
 30  _electricityMeter_3_p_T30M_mv_qual  26727 non-null   object
 31  _electricityMeter_3_p_TM3M_mv_val   205692 non-null  float64
 32  _electricityMeter_3_p_TM3M_mv_qual  205692 non-null  object
 33  _electricityMeter_3_q_T30M_mv_val   26727 non-null   float64
 34  _electricityMeter_3_q_T30M_mv_qual  26727 non-null   object
 35  _electricityMeter_3_q_TM3M_mv_val   205693 non-null  float64
 36  _electricityMeter_3_q_TM3M_mv_qual  205693 non-null  object
 37  _electricityMeter_4_e_T30M_mv_val   26727 non-null   float64
 38  _electricityMeter_4_e_T30M_mv_qual  26727 non-null   object
 39  _electricityMeter_4_e_TM3M_mv_val   205693 non-null  float64
 40  _electricityMeter_4_e_TM3M_mv_qual  205693 non-null  object
 41  _electricityMeter_4_p_T30M_mv_val   26727 non-null   float64
 42  _electricityMeter_4_p_T30M_mv_qual  26727 non-null   object
 43  _electricityMeter_4_p_TM3M_mv_val   205613 non-null  float64
 44  _electricityMeter_4_p_TM3M_mv_qual  205613 non-null  object
 45  _electricityMeter_4_q_T30M_mv_val   26727 non-null   float64
 46  _electricityMeter_4_q_T30M_mv_qual  26727 non-null   object
 47  _electricityMeter_4_q_TM3M_mv_val   205590 non-null  float64
 48  _electricityMeter_4_q_TM3M_mv_qual  205590 non-null  object
dtypes: datetime64[ns, Europe/Moscow](1), float64(24), object(24)
memory usage: 80.8+ MB

In [58]:
df_data.head()

,time,_Accumulator_Bus_1_e_TM1H_mv_val,_Accumulator_Bus_1_e_TM1H_mv_qual,_Accumulator_Bus_1_p_TM1H_mv_qual,_Accumulator_Bus_1_p_TM1H_mv_val,_Accumulator_Bus_1_phaseA_p_TM1H_mv_val,_Accumulator_Bus_1_phaseA_p_TM1H_mv_qual,_Accumulator_Bus_1_phaseB_p_TM1H_mv_val,_Accumulator_Bus_1_phaseB_p_TM1H_mv_qual,_Accumulator_Bus_1_phaseC_p_TM1H_mv_val,...,_unctrl_load_Bus_3_phaseC_p_TM1H_mv_val,_unctrl_load_Bus_3_phaseC_p_TM1H_mv_qual,_unctrl_load_Bus_4_p_TM1H_mv_val,_unctrl_load_Bus_4_p_TM1H_mv_qual,_unctrl_load_Bus_4_phaseA_p_TM1H_mv_val,_unctrl_load_Bus_4_phaseA_p_TM1H_mv_qual,_unctrl_load_Bus_4_phaseB_p_TM1H_mv_val,_unctrl_load_Bus_4_phaseB_p_TM1H_mv_qual,_unctrl_load_Bus_4_phaseC_p_TM1H_mv_val,_unctrl_load_Bus_4_phaseC_p_TM1H_mv_qual
0,2018-03-16 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-03-16 14:00:00,NaN,NaN,GOOD MEAN,-0.004168,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-03-16 15:00:00,NaN,NaN,GOOD MEAN,0.001829,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-03-16 16:00:00,NaN,NaN,GOOD MEAN,0.002485,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-03-16 17:00:00,NaN,NaN,GOOD MEAN,-0.001558,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21182 entries, 0 to 21181
Columns: 153 entries, time to _unctrl_load_Bus_4_phaseC_p_TM1H_mv_qual
dtypes: datetime64[ns](1), float64(73), object(79)
memory usage: 24.7+ MB

In [60]:
df_data['time'] = df_data['time'].apply(utc_to_local)
mask_2 = (df_data['time'].dt.hour >= 7) & (df_data['time'].dt.hour <= 22)
df_data_mask = df_data[mask_2]

In [63]:
df_data_mask.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14147 entries, 0 to 21181
Columns: 153 entries, time to _unctrl_load_Bus_4_phaseC_p_TM1H_mv_qual
dtypes: datetime64[ns, Europe/Moscow](1), float64(73), object(79)
memory usage: 16.6+ MB

In [65]:
df_met_mask.head()

,time,_electricityMeter_1_e_T30M_mv_val,_electricityMeter_1_e_T30M_mv_qual,_electricityMeter_1_e_TM3M_mv_val,_electricityMeter_1_e_TM3M_mv_qual,_electricityMeter_1_p_T30M_mv_val,_electricityMeter_1_p_T30M_mv_qual,_electricityMeter_1_p_TM3M_mv_val,_electricityMeter_1_p_TM3M_mv_qual,_electricityMeter_1_q_T30M_mv_val,...,_electricityMeter_4_e_TM3M_mv_val,_electricityMeter_4_e_TM3M_mv_qual,_electricityMeter_4_p_T30M_mv_val,_electricityMeter_4_p_T30M_mv_qual,_electricityMeter_4_p_TM3M_mv_val,_electricityMeter_4_p_TM3M_mv_qual,_electricityMeter_4_q_T30M_mv_val,_electricityMeter_4_q_T30M_mv_qual,_electricityMeter_4_q_TM3M_mv_val,_electricityMeter_4_q_TM3M_mv_qual
0,2018-04-15 10:00:00+03:00,19.712,GOOD PROCESS,NaN,NaN,39.424,GOOD PROCESS,NaN,NaN,12.576,...,NaN,NaN,44.184,GOOD PROCESS,NaN,NaN,2.784,GOOD PROCESS,NaN,NaN
1,2018-04-15 10:39:00+03:00,NaN,NaN,1.856,GOOD PROCESS,NaN,NaN,37.12,GOOD PROCESS,NaN,...,2.412,GOOD PROCESS,NaN,NaN,48.24,GOOD PROCESS,NaN,NaN,2.64,GOOD PROCESS
2,2018-07-10 19:30:00+03:00,32.816,GOOD PROCESS,NaN,NaN,26.208,GOOD PROCESS,NaN,NaN,2.496,...,NaN,NaN,28.632,GOOD PROCESS,NaN,NaN,2.976,GOOD PROCESS,NaN,NaN
3,2018-07-10 20:00:00+03:00,44.320,GOOD PROCESS,NaN,NaN,23.008,GOOD PROCESS,NaN,NaN,2.240,...,NaN,NaN,27.264,GOOD PROCESS,NaN,NaN,3.192,GOOD PROCESS,NaN,NaN
4,2018-07-10 20:30:00+03:00,54.656,GOOD PROCESS,NaN,NaN,20.672,GOOD PROCESS,NaN,NaN,1.984,...,NaN,NaN,26.400,GOOD PROCESS,NaN,NaN,3.048,GOOD PROCESS,NaN,NaN

In [69]:
df_data_mask.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14147 entries, 0 to 21181
Columns: 153 entries, time to _unctrl_load_Bus_4_phaseC_p_TM1H_mv_qual
dtypes: datetime64[ns, Europe/Moscow](1), float64(73), object(79)
memory usage: 16.6+ MB

In [71]:
df_data_mask['_Consumers_Bus_1_p_TM1H_mv_qual'].value_counts()

                GOOD MEAN    13826
             INVALID MEAN      142
             GOOD DERIVED       93
Name: _Consumers_Bus_1_p_TM1H_mv_qual, dtype: int64

In [72]:
df_data_mask['_Consumers_Bus_2_p_TM1H_mv_qual'].value_counts()

                GOOD MEAN    13879
             GOOD DERIVED       93
             INVALID MEAN       52
Name: _Consumers_Bus_2_p_TM1H_mv_qual, dtype: int64

In [73]:
df_data_mask['_Consumers_Bus_3_p_TM1H_mv_qual'].value_counts()

                GOOD MEAN    13439
             INVALID MEAN      520
             GOOD DERIVED       92
Name: _Consumers_Bus_3_p_TM1H_mv_qual, dtype: int64

In [74]:
df_data_mask['_Consumers_Bus_4_p_TM1H_mv_qual'].value_counts()

                GOOD MEAN    13616
             INVALID MEAN      304
             GOOD DERIVED       92
          INVALID DERIVED        5
Name: _Consumers_Bus_4_p_TM1H_mv_qual, dtype: int64